includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
parameters:
  level: 9
  strictRules:
    allRules: true
  fileExtensions:
    - php
  paths:
    - libs/contracts/rpc-message-contracts/src
    - libs/contracts/rpc-message-factory-contracts/src
    - libs/contracts/rpc-protocol-contracts/src
    - libs/protocol/src
    - libs/protocol-generator/src
    - libs/rpc-message/src
    - libs/rpc-message-factory/src
    - libs/rpc-protocol-jsonrpc/src
  tmpDir: vendor/.cache.phpstan
  reportUnmatchedIgnoredErrors: true
