includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
parameters:
  level: 9
  strictRules:
    allRules: true
  fileExtensions:
    - php
  paths:
    - libs/dispatcher/src
    - libs/protocol/src
    - libs/protocol-generator/src
    - libs/router/src
    - libs/rpc/contracts/rpc-codec-contracts/src
    - libs/rpc/contracts/rpc-message-contracts/src
    - libs/rpc/contracts/rpc-message-factory-contracts/src
    - libs/rpc/rpc-codec-jsonrpc/src
    - libs/rpc/rpc-message/src
    - libs/rpc/rpc-message-factory/src
  tmpDir: vendor/.cache.phpstan
  reportUnmatchedIgnoredErrors: true
