<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         colors="true"
         backupGlobals="true"
         stopOnFailure="false"
         processIsolation="false"
         bootstrap="vendor/autoload.php"
         cacheDirectory="vendor/.cache.phpunit"
         backupStaticProperties="false"
         failOnWarning="true"
         failOnDeprecation="true"
         failOnNotice="true"
>
    <testsuites>
        <testsuite name="unit">
            <!-- bridges -->
            <directory>libs/bridges/bridge-hydrator-type-lang/tests</directory>
            <directory>libs/bridges/bridge-server-react/tests</directory>
            <!-- contracts -->
            <directory>libs/contracts/hydrator-contracts/tests</directory>
            <directory>libs/contracts/router-contracts/tests</directory>
            <directory>libs/contracts/rpc-codec-contracts/tests</directory>
            <directory>libs/contracts/rpc-message-contracts/tests</directory>
            <directory>libs/contracts/rpc-message-factory-contracts/tests</directory>
            <directory>libs/contracts/server-contracts/tests</directory>
            <!-- components -->
            <directory>libs/components/dispatcher/tests</directory>
            <directory>libs/components/kernel/tests</directory>
            <directory>libs/components/protocol/tests</directory>
            <directory>libs/components/protocol-generator/tests</directory>
            <directory>libs/components/router/tests</directory>
            <directory>libs/components/rpc-codec-jsonrpc/tests</directory>
            <directory>libs/components/rpc-message/tests</directory>
            <directory>libs/components/rpc-message-factory/tests</directory>
            <directory>libs/components/server/tests</directory>
            <directory>libs/components/workspace/tests</directory>
            <!-- extensions -->
            <directory>libs/extensions/ext-document-manager/tests</directory>
        </testsuite>
        <testsuite name="functional">
            <!-- ... -->
        </testsuite>
    </testsuites>

    <coverage/>

    <source>
        <include>
            <!-- bridges -->
            <directory>libs/bridges/bridge-hydrator-type-lang/src</directory>
            <directory>libs/bridges/bridge-server-react/src</directory>
            <!-- contracts -->
            <directory>libs/contracts/hydrator-contracts/src</directory>
            <directory>libs/contracts/router-contracts/src</directory>
            <directory>libs/contracts/rpc-codec-contracts/src</directory>
            <directory>libs/contracts/rpc-message-contracts/src</directory>
            <directory>libs/contracts/rpc-message-factory-contracts/src</directory>
            <directory>libs/contracts/server-contracts/src</directory>
            <!-- components -->
            <directory>libs/components/dispatcher/src</directory>
            <directory>libs/components/kernel/src</directory>
            <directory>libs/components/protocol/src</directory>
            <directory>libs/components/protocol-generator/src</directory>
            <directory>libs/components/router/src</directory>
            <directory>libs/components/rpc-codec-jsonrpc/src</directory>
            <directory>libs/components/rpc-message/src</directory>
            <directory>libs/components/rpc-message-factory/src</directory>
            <directory>libs/components/server/src</directory>
            <!-- extensions -->
            <directory>libs/extensions/ext-document-manager/src</directory>
        </include>
    </source>

    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="memory_limit" value="-1"/>
    </php>
</phpunit>
