<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         colors="true"
         backupGlobals="true"
         stopOnFailure="false"
         processIsolation="false"
         bootstrap="vendor/autoload.php"
         cacheDirectory="vendor/.cache.phpunit"
         backupStaticProperties="false"
         failOnWarning="true"
         failOnDeprecation="true"
         failOnNotice="true"
>
    <testsuites>
        <testsuite name="unit">
            <directory>libs/contracts/dispatcher-contracts/tests</directory>
            <directory>libs/contracts/hydrator-contracts/tests</directory>
            <directory>libs/contracts/router-contracts/tests</directory>
            <directory>libs/contracts/server-contracts/tests</directory>
            <directory>libs/dispatcher/tests</directory>
            <directory>libs/protocol/tests</directory>
            <directory>libs/router/tests</directory>
            <directory>libs/server-react/tests</directory>
            <directory>libs/rpc/contracts/rpc-codec-contracts/tests</directory>
            <directory>libs/rpc/contracts/rpc-message-contracts/tests</directory>
            <directory>libs/rpc/contracts/rpc-message-factory-contracts/tests</directory>
            <directory>libs/rpc/rpc-codec-jsonrpc/tests</directory>
            <directory>libs/rpc/rpc-message/tests</directory>
            <directory>libs/rpc/rpc-message-factory/tests</directory>
        </testsuite>
        <testsuite name="functional">
            <!-- ... -->
        </testsuite>
    </testsuites>

    <coverage/>

    <source>
        <include>
            <directory>libs/contracts/dispatcher-contracts/src</directory>
            <directory>libs/contracts/hydrator-contracts/src</directory>
            <directory>libs/contracts/router-contracts/src</directory>
            <directory>libs/contracts/server-contracts/src</directory>
            <directory>libs/dispatcher/src</directory>
            <directory>libs/protocol/src</directory>
            <directory>libs/router/src</directory>
            <directory>libs/server-react/src</directory>
            <directory>libs/rpc/contracts/rpc-codec-contracts/src</directory>
            <directory>libs/rpc/contracts/rpc-message-contracts/src</directory>
            <directory>libs/rpc/contracts/rpc-message-factory-contracts/src</directory>
            <directory>libs/rpc/rpc-codec-jsonrpc/src</directory>
            <directory>libs/rpc/rpc-message/src</directory>
            <directory>libs/rpc/rpc-message-factory/src</directory>
        </include>
    </source>

    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="memory_limit" value="-1"/>
    </php>
</phpunit>
